<div class="container">
  <%= render 'public/end_users/error_form', end_user: @end_user %>
  <div class="row">
    <div class="col-8 offset-2">
      <h5 class="profile-edit">プロフィール編集</h5>
      <div class="profile-group">
        <%= form_with model:@end_user, local:true do |f| %>
          <%= attachment_image_tag @end_user, :profile_image, format: 'jpeg', fallback: "no_image_end_user.png", size: "100x100" %>
          <label for="inputImage">プロフィール画像</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br />
          <table id="profile-edit">
            <tr><td>氏名</td><td><%= f.text_field :last_name, autofocus: true %>　<%= f.text_field :first_name, autofocus: true %></td></tr>
            <tr><td>年齢</td><td><%= f.text_field :age %></td></tr>
            <tr><td>都道府県</td><td><%= f.text_field :prefecture %></td></tr>
            <tr><td>ニックネーム</td><td><%= f.text_field :nickname, autofocus: true %></td></tr>
            <tr><td>自己紹介文<br />(60字以内)</td><td><%= f.text_area :introduction %></td></tr>
          </table>
          <div class="edit-group">
            <%= f.submit '変更を保存', class:"submit-button" %></td>
            <%= link_to '退会する', withdraw_end_user_path(@end_user.id), method: :patch, data: { confirm: '本当に退会しますか？<br />退会してしまうと、これまでのユーザーの情報は失われ<br />元に戻すにはご連絡いただく必要があります。', cancel: 'やめる', commit: 'はい'}, title: '退会最終確認', class:"withdraw-button" %></td>
          </div>
        <% end %>
    </div>
  </div>
</div>