<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h5 class="ml-5 mt-4 mb-4">お問い合わせ内容確認</h5>
      <table class="table-sm">
        <tr><td>お名前</td><td><%= @contact.name %></td>
        <tr><td>E-mail</td><td><%= @contact.email %></td>
        <tr><td>お問い合わせ内容</td><td><%= @contact.body %></td>
      <%= form_with model: @contact, local: true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :body %>
        <tr><td><%= f.submit '確認して送信する', class:"btn btn-outline-primary" %></td></tr>
      <% end %>
      </table>
    </div>
  </div>
</div>