<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 offset-1">
      <% @all_ranks.each.with_index(1) do |review, i| %>
        第 <%= i %> 位
        <%= link_to review_path(review.id) do %>
          <%= review.content_name %>
        <% end %>
        いいね数: <%= review.favorites.count %>
        <%= link_to end_user_path(review.end_user.id) do %>
          <%= review.end_user.nickname %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>