<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h5 class="mb-5">レビューカテゴリー追加、一覧</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-1">
      <h6>放送形式</h6>
      <%= form_with model: @medium_new, url: admin_media_path, local: true do |f| %>
        <table class="categories-index">
          <tr>
            <td><%= f.text_field :content %></td>
            <td><%= f.submit '登録', class:"category-button" %></td>
          </tr>
        </table>
      <% end %>
      <table class="categories-index">
        <% @media.each do |medium| %>
          <tr>
            <td>
              <%= medium.content %>
            </td>
            <td class="text-center">
              <%= link_to "削除する", admin_medium_path(medium), method: :delete, class:"category-delete-button" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-3">
      <h6>声質</h6>
      <%= form_with model: @feature_new, url: admin_features_path, local: true do |f| %>
        <table class="categories-index">
          <tr>
            <td><%= f.text_field :content %></td>
            <td><%= f.submit '登録', class:"category-button" %></td>
          </tr>
        </table>
      <% end %>
      <table class="categories-index">
        <% @features.each do |feature| %>
          <tr>
            <td>
              <%= feature.content %>
            </td>
            <td class="text-center">
              <%= link_to "削除する", admin_feature_path(feature), method: :delete, class:"category-delete-button" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-3">
      <h6>ジャンル</h6>
      <%= form_with model: @genre_new, url: admin_genres_path, local: true do |f| %>
        <table class="categories-index">
          <tr>
            <td><%= f.text_field :content %></td>
            <td><%= f.submit '登録', class:"category-button" %></td>
          </tr>
        </table>
      <% end %>
      <table class="categories-index">
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.content %></td>
            <td class="text-center">
              <%= link_to "削除する", admin_genre_path(genre), method: :delete, class:"category-delete-button" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
