<div class="container mt-5">
  <div class="row">
    <div class="col-6 offset-3">
      <h5 class="new-session">ログイン</h5><br />
      <h6>会員の方はこちらからログイン</h6>
      <%= form_with model: @end_user, url: end_user_session_path, local: true do |f| %>
        <table class="sessions">
          <tbody>
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30x1" %></td>
            </tr>
            <tr>
              <td>パスワード</td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: "30x1" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class:"submit-button" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <h6>会員登録がお済みでない方</h6><br />
      <div class="registration-link">　<%= link_to 'こちら', new_end_user_registration_path %>　から新規登録を行ってください。</div><br />
      <div class="session-link">もしくは、<%= link_to 'こちら', end_users_guest_sign_in_path, method: :post %>　からゲストユーザーとしてログインできます。</div><br />
    </div>
  </div>
</div>

