<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h5 class="ml-5 mt-4 mb-4">レビューカテゴリー追加、一覧</h5>
      <%= form_with model: @medium_new, url: admin_categories_path, local: true do |f| %>
        <table class="table-sm">
          <tr>
            <td><h6>放送形式</h6></td>
            <td><%= f.text_field :medium %></td>
            <td><%= f.submit '登録', class:"btn btn-outline-success" %></td>
          </tr>
        </table>
      <% end %>
      <%= form_with model: @feature_new, url: admin_categories_path, local: true do |f| %>
        <table class="table-sm">
          <tr>
            <td><h6>声の特徴</h6></td>
            <td><%= f.text_field :feature %></td>
            <td><%= f.submit '登録', class:"btn btn-outline-success" %></td>
          </tr>
        </table>
      <% end %>
      <table class="table table-bordered mt-5">
        <thead class="thead-light">
          <tr>
            <td class="text-center">放送形式</td>
            <td></td>
          </tr>
        </thead>
        <% @categories.each do |category| %>
          <tr>
            <td class="text-center">
              <%= category.medium %>
            </td>
            <td class="text-center">
              <%= link_to "編集する",edit_admin_category_path(category), class:"btn btn-outline-success" %>
            </td>
          </tr>
        <% end %>
      </table>
      <table class="table table-striped table-bordered mt-5">
        <thead class="thead-light">
          <tr>
            <td class="text-center">声の特徴</td>
            <td></td>
          </tr>
        </thead>
        <% @categories.each do |category| %>
          <tr>
            <td class="text-center">
              <%= category.feature %>
            </td>
            <td class="text-center">
              <%= link_to "編集する",edit_admin_category_path(category), class:"btn btn-outline-success" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
