<div class="container">
  <div class="row">
    <div class="col-8 col-offset-2">
      <h5 class="ml-5 mt-5 mr-0 mb-3">新規会員登録</h5>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render "end_users/shared/error_messages", resource: resource %>
      <table class="table">
        <tr>
          <td>名前　　　　　　　　(姓)　</td>
          <td><%= f.text_field :last_name, autofocus: true %></td>
          <td>(名)　　<%= f.text_field :first_name, autofocus: true %></td>
        </tr>
        <tr>
          <td>年齢</td><td><%= f.text_field :age, autofocus: true %></td>
        </tr>
        <tr>
          <td>性別</td>
          <td><%= f.text_field :gender, autofocus: true %></td>
        </tr>
        <tr>
          <td>都道府県</td>
          <td colspan="2"><%= f.text_field :prefecture, autofocus: true %></td>
        </tr>
        <tr>
          <td>ニックネーム</td><td><%= f.text_field :nickname, autofocus: true %></td>
        </tr>
       <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード(6文字以内)</td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "新規登録", class:"btn btn-outline-success btn-block" %></td><br />
        </tr>
      </table>
      <% end %>

      <h5 class="mt-5">既に登録済みの方</h5>
        <div><%= link_to 'こちら', new_end_user_session_path %>　からログインしてください。</div>
      <div>または<%= link_to 'こちら', end_users_guest_sign_in_path, method: :post %>　からゲストユーザーとしてログインできます。</div>
    </div>
  </div>
</div>


