<!DOCTYPE html>
<html>
  <head>
    <title>V-Media</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
     <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'v_media.logo.png', size: '150x50' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if end_user_signed_in? %>
                  <%= render 'layouts/end_users' %>
                <% elsif admin_signed_in? %>
                  <%= render 'layouts/admins' %>
                <% else %>
                  <%= render 'layouts/others' %>
                <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <main class="main">
    <%= yield %>
    </main>
    <footer class="footer">
      <div class="container">
        Copyright © 2021 V-Media. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
